body, html {
	height: 100%;
	min-height: 100%;
	background-color: #6bcffd;
}

body {
	
}

.no-js {
	padding-top: 106px;
}

h2 {
	margin-top: 0;
}

.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}

section {
	min-width: 960px;
	opacity: 0;
}

.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

main {
	overflow-x: hidden;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
}

.hsContent h1  {
    color: #fff8de;
    font-size: 5em;
    text-align: center;
}

.hsContent p {
    color: #b2b2b2;
    text-align: center;
}

.hsContent a {
    color: #b2b2b2;
    text-decoration: underline;
}

#slide-1 .bcg {
    background-image:url('../img/bcg_slide-1.jpg')
}

#slide-1 .hsContent {	
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-10% 0% 0% -25%
}

#slide-2 .bcg {
    background-image:url('../img/bcg_slide-2.jpg')
}

#slide-2 .hsContent {
}

#slide-3 .bcg {
    background-image:url('../img/bcg_slide-3.jpg')
}

#slide-3 .hsContent {
}

#slide-3 h2 {
    color: #f2ead6;
    background-color: rgba(0,0,0,0.6);
}

#slide-4 .bcg {
    background-image:url('../img/bcg_slide-4.jpg')
}

#slide-4 .hsContent {
}

#slide-4 h2 {
    background: none;
    padding-left: 0;
    padding-right: 0;
}

#chain {
    height: 30%;
    width: 30%;
}

#chain img {
    width: 100%;
}

#test {
    display: -webkit-box;   
    display: -moz-box; 
    display: -ms-flexbox;  
    display: -webkit-flex;
    display: flex;  
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

#test h2 {
    width: 27%;
    background: none; !important
}

#centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#centered {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}

nav {
    background-color: rgba(0, 0, 0, 0.2);
    height: 55px;
    top: 0;
    position: absolute;
    /* hold tight... */
    visibility: none;
    /* we'll override these shortly */
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    border-right: 1px solid black;
    padding: 0 10px;
    margin-right: auto;
    margin-left: auto;
}

nav li:first-child {
    border-left: 1px solid black;
}

#nav, #nav:visited {
    text-decoration: none;
    color: #fff8de; 
}

#nav:hover {
    text-decoration: overline;
}

@media all and (max-height: 901px) and (min-height: 600px) {
    #centered {
        width: 40%;
    }
}

@media all and (max-height: 1801px) and (min-height: 1281px) {
    #centered {
        width: 100%;
    }
}

@media all and (max-height: 2161px) and (min-height: 1801px) {
    #centered {
        width: 40%;
    }
}