body {
	background-color: black;
}

h1 {
	display: block;
	width: 23%;
	height: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	border:1px;
	border-radius: 5px;
	opacity: 0.8;	
	background-color: #6D7B8D;
	text-align: center;
	color: white;
	font-weight:100;
}

a.button {
        text-decoration: none;
	height: 20%;
	width: 30%;
	top: 0;
	right: 0;
	bottom: 50%;
	left: 0;
	background-color: white;
	opacity: 0.6;
        margin: auto;
	position: absolute;
        border-radius: 8px;
        font-size: 250%;
        color: black;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        line-height: 1;
}

a.button:hover {
	opacity: 0.8;
}